build/
*.ui
*.o
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.autosave
*.moc
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.app
*.qrc
*.qmlc
*.jsc
*.pyc
*.pyo
*.log
*.swp
*.DS_Store
*.bak
*.tmp
*.user
*.sln
*.vcxproj*
*.ncb
*.suo
*.db
*.ipch
*.pch
*.orig
*.rej
*.gch
*.rcc
*.ts~
*.qm
.idea/
.vscode/
debug/
release/
x64/
x86/
*.kate-swp